aks-terraform/networking-module/.terraform/

aks-terraform/cluster-module/.terraform/

/home/oliv11111/aicore/Web-App-DevOps-Project/aks-terraform/aks-cluster-module/.terraform.lock.hcl

/home/oliv11111/aicore/Web-App-DevOps-Project/aks-terraform/networking-module/.terraform.lock.hcl

/home/oliv11111/aicore/Web-App-DevOps-Project/aks-terraform/aks-cluster-module/.terraform

/home/oliv11111/aicore/Web-App-DevOps-Project/aks-terraform/networking-module/.terraform